.container {
    display: flex;
    justify-content: space-between;
  }
  
  .left-side,
  .right-side {
    flex: 1;
    padding: 20px;
  }
  
  h3 {
    margin-bottom: 10px;
  }
  
  .meal-dropdowns {
    display: flex;
    flex-direction: column;
  }

  .dropdown {
    margin-bottom: 10px;
}

label {
    display: block;
  }
  
  select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .glowish {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
  }